$bg: #151521;
$font: #e6e6e6;
$slideBg: #1a2d50;
$hamburgerColor: #e6e6e6;
$buttonBg: #5c597a;
$headerBg: #131a26;

//$bg: #064789;
//$font: #ebf2fa;
//$slideBg: #427aa1;

//$bg: #0f4f49;
//$font: #ebf2fa;
//$slideBg: #4e7d55;
